/* Importing Google Fonts for the project */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Resetting default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Agbalumo';
}

/* Styling for buttons */
button {
    border: 0;
    cursor: pointer;
    background-color: #fd9292;
    color: #FDF0CB;
    padding: 0.7rem 2rem;
    border-radius: 0.6rem;
    font-size: 1.1rem;
    transition: color 0.3s ease, transform 0.3s ease-in-out;
}

/* Button hover effect */
button:hover {
    background-color: #FDF0CB;
    color: #fd9292;
}

/* Button active state */
button:active {
    background-color: #ffe9ab;
    color: #fd9292;
}

/* Header styling */
header {
    background-color: #67AFAA;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    text-decoration: none;
}

/* Styling for navigation links in the header */
header a {
    color: #FDF0CB;
    margin-left: 1.2rem;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Navigation link hover effect */
header a:hover {
    color: #ffcbcb;
    transform: translateY(-5px);
}

/* Styling for the logo in the header */
.logo {
    height: 3rem;
}

/* Navigation styling */
nav {
    display: flex;
}

/* Body styling */
body {
    display: flex;
    flex-direction: column;
}

/* Title styling */
.title {
    color: #fd9292;
    font-size: 3rem;
    line-height: 80%;
}

/* Home section styling */
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

/* Styling for the text in the home section */
.home-text {
    margin-top: 2rem;
    width: 50%;
    padding: 0 5rem;
}

/* Styling for the paragraph in the home section */
.home-text p {
    margin-top: 1rem;
    color: #67AFAA;
    font-size: 1.1rem;
}

/* Styling for the button in the home section */
.home-text button {
    margin-top: 1rem;
}

/* Styling for the image in the home section */
.home-img {
    width: 50%;
    height: 100vh;
    background-image: url("../assets/29945.jpg");
    background-size: cover;
}

/* 'We Can Make for You' section styling */
.wecanmake {
    width: 100vw;
    padding: 4rem 0rem;
    background-color: #fd9292;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styling for the title in the 'We Can Make for You' section */
.wecanmake .title {
    color: white;
}

/* Styling for the photos grid in the 'We Can Make for You' section */
.photos {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 0rem 5rem;
}

/* Styling for each photo section */
.photos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    color: #ffe9ab;
}

/* Styling for the images in the photos grid */
.photos div img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 2rem;
    margin-top: 0.1rem;
}

/* 'Fun' section styling */
.fun {
    display: flex;
    flex-direction: row;
    height: 20vh;
    padding: 10rem;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-image: url('../assets/1264.jpg');
    background-repeat: repeat;
}

/* Styling for the div in the 'Fun' section */
.fun div {
    width: 30vw;
}

/* Styling for the image in the 'Fun' section */
.fun img {
    height: 10rem;
    animation: jump 1s infinite;
}

/* Keyframes for the jump animation */
@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Keyframes for the shake animation */
@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
}

/* Styling for the paragraph in the 'Fun' section */
.fun p {
    width: 70%;
    font-size: 1.6rem;
    color: #67AFAA;
    background-color: #FDF0CB;
    padding: 2rem 4rem;
    border-radius: 2rem;
    animation: shake 0.5s infinite;
}

/* Footer styling */
footer {
    width: 100vw;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FDF0CB;
    background-color: #67AFAA;
    font-size: 1.1rem;
}

/* Styling for the year in the footer */
footer #year {
    font-size: 0.9rem;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    /* Header styling for smaller screens */
    header {
        flex-direction: column;
        align-items: center;
        padding: 0rem 1rem;
    }

    /* Adjustments for the logo in the header on smaller screens */
    header img {
        padding-top: 0.6rem;
    }

    /* Styling for navigation links in the header on smaller screens */
    header a {
        margin: 0.5rem 0;
    }

    /* Navigation styling for smaller screens */
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 3rem;
    }

    /* Styling for navigation links on smaller screens */
    nav a {
        margin: 1rem 1rem;
        font-size: 0.7rem;
        text-align: center;
    }

    /* Adjustments for the home text on smaller screens */
    .home-text {
        width: 100%;
        padding: 5rem 2rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    /* Adjustments for the home image on smaller screens */
    .home-img {
        width: 100vw;
        z-index: -100;
        opacity: 0.1;
        position: absolute;
    }

    /* Styling adjustments for the 'We Can Make for You' section on smaller screens */
    .wecanmake {
        padding: 4rem 2rem;
        text-align: center;
    }

    /* Adjustments for the photos grid on smaller screens */
    .photos {
        display: flex;
        flex-direction: column;
    }

    /* Adjustments for each photo section on smaller screens */
    .photos div {
        display: flex;
        margin-bottom: 1.5rem;
    }

    /* Styling adjustments for the 'Fun' section on smaller screens */
    .fun {
        height: 100%;
        padding: 5rem 0.5rem;
        flex-direction: column;
    }

    /* Adjustments for the paragraph in the 'Fun' section on smaller screens */
    .fun p {
        width: 100vw;
        border-radius: 0%;
        margin-top: 5rem;
        padding: 2rem 1rem;
        animation: none;
        line-height: 100%;
        font-size: 1.5rem;
    }
}
